/* Estilos para el medidor de nivel */
.levels {
    height: 300px;
    width: 30px;
    background-color: #333;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    padding: 4px 3px;
    margin: auto;
    margin-top: 20px;
}

.level {
    position: relative; 
    margin: 0 2px;
    flex-grow: 1;
    z-index: 3;
    background-color: transparent;
    background-repeat: repeat-y;
    background-image: linear-gradient(to bottom, #666 3px, transparent 1px);
    background-size: 100% 4px;
}

.level:before {
    width: 100%;
    height: 100%;
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, green 0%, yellow 80%, red 100%);
    background-size: 100% 100%;
    clip-path: inset(0% 0 0 0); 
    -webkit-clip-path: inset(0% 0 0 0); 
    animation: level-animation 500ms alternate infinite;
}

@keyframes level-animation {
    0% {
        clip-path: inset(0% 0 0 0);
        -webkit-clip-path: inset(0% 0 0 0);
    }
    50% {
        clip-path: inset(40% 0 0 0);
        -webkit-clip-path: inset(40% 0 0 0);
    }
    100% {
        clip-path: inset(20% 0 0 0);
        -webkit-clip-path: inset(20% 0 0 0);
    }
}

.level::after {
    width: 100%;
    height: 100%;
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 3px;
    background-image: linear-gradient(to bottom, #333 1px, transparent 1px);
    background-repeat: repeat-y;
    background-size: 100% 4px;
    background-color: transparent;
}

/* Estilos para el pie de página */
body, html {
    font-family: Arial, sans-serif;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.footer .name {
    text-align: center;
}

.footer .description {
    color: #888;
    margin-top: 10px;
    font-size: 12px;
    flex-grow: 0;
    text-align: center;
}

.footer .twitter {
    background-image: url("https://upload.wikimedia.org/wikipedia/de/thumb/9/9f/Twitter_bird_logo_2012.svg/2000px-Twitter_bird_logo_2012.svg.png");
    background-size: auto 12px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    font-size: 12px;
    flex-grow: 0;
    margin-top: 10px;
    color: #888;
}
